@layer animation {
  .hero__animation {
    position: relative;
    width: 316px;
    height: 251px;
    background-image: url('/img/blob.svg');
    background-size: cover;
    background-position: center;
    margin: 1.25rem auto;
    overflow: hidden;
  }

  .hero__sun-container,
  .hero__moon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__sun-container {
    animation: rotateSun 10s linear infinite;
    transform-origin: center;
  }

  .hero__sun {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    animation: sunColorFade 10s linear infinite;
  }

  .hero__moon {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 28px;
    height: 28px;
    opacity: 0;
    animation: moonFade 10s linear infinite;
  }

  .hero__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    z-index: 2;
  }

  .hero__icon {
    width: 60px;
    animation: buildingColorFade 10s linear infinite;
    align-self: flex-end;
  }

  .hero__radar-dot {
    position: absolute;
    top: 0;
    left: 52%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    animation: radarBlink 10s linear infinite;
    z-index: 30;
  }

  @keyframes rotateSun {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sunColorFade {

    0%,
    100% {
      filter: none;
      opacity: 1;
    }

    20%,
    80% {
      filter: brightness(2) sepia(1) saturate(20000%) hue-rotate(-30deg);
      opacity: 1;
    }

    40%,
    70% {
      opacity: 0;
    }
  }

  @keyframes moonFade {

    0%,
    35%,
    85%,
    100% {
      opacity: 0;
    }

    45%,
    75% {
      opacity: 1;
    }
  }

  @keyframes buildingColorFade {

    0%,
    100% {
      filter: none;
    }

    20%,
    80% {
      filter: brightness(1.2) sepia(1) saturate(500%) hue-rotate(-30deg);
    }

    40%,
    70% {
      filter: brightness(0.8);
    }
  }

  @keyframes radarBlink {

    0%,
    40%,
    71%,
    100% {
      opacity: 0;
    }

    41%,
    70% {
      opacity: 1;
    }
  }

  #footsteps-container {
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
  }

  .footstep {
    width: 40px;
    height: auto;
    opacity: 0;
    animation: appear 15s ease-in-out infinite alternate;
    animation-delay: calc(var(--i) * 0.5s);
  }

  @keyframes appear {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }

    30% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(20px);
      opacity: 0;
    }
  }

  @media (max-width: 600px) {
    .footstep:nth-child(n+10) {
      display: none;
    }
  }

}