html {
    font-family: "Poppins", sans-serif;
}


.header__hamburger {
    width: 28px;
    height: 24px;
    position: relative;
    display: block;
}

.hamburger__line {
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--white, #F0F0F0);
    border-radius: 0px;
    left: 0;
}

.hamburger__line:nth-child(1) {
    top: 0;
    transition: transform 0.5s, rotate 0.5s;
}

.hamburger__line:nth-child(2) {
    top: 10px;
    transition: transform 0.5s;
}

.hamburger__line:nth-child(3) {
    bottom: 0;
    transition: transform 0.5s, rotate 0.5s;
}



.nav__list {
    margin: 0;
    padding: 0;

}

.nav__li {
    padding: 10px 20px;
    border-bottom: 1px solid var(--white, #F0F0F0);
    list-style: none;
}

.nav__item {
    text-decoration: none;

    color: var(--white, #F0F0F0);
}



@media screen and (max-width: 808px) {
    .header__hamburger.active .hamburger__line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .header__hamburger.active .hamburger__line:nth-child(2) {
        transform: translateX(200%);
    }

    .header__hamburger.active .hamburger__line:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    .header__nav.active {
        right: 0;
    }

    .body {
        overflow-x: hidden;
        
    }

    .header__nav {
        background-color: var(--gray, #3A3F45);
        color: var(--white, #F0F0F0);
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        right: -100%;
        transition: right 0.5s ease-in-out;
    }

    .nav__li:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
        opacity: 0.8;
    }
}

@media screen and (min-width: 808px) {
    .header__hamburger {
        display: none;
    }

    .nav__li {
        border: none;
    }

    .header {
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--gray, #3A3F45);
    }

    .nav__list {
        display: flex;
        color: #F0F0F0;
    }
}