@layer reset, fonts, icons, layout, hamburger, animation;

@import url(./normalize.css) layer(reset);
@import url(./fonts.css) layer(fonts);
@import url(./icons.css) layer(icons);
@import url(./hamburger.css) layer(hamburger);
@import url(./animation.css) layer(animation);


@layer reset {
  :root {
    --gray: #3A3F45;
    --white: #F0F0F0;
    --blue: #21449B;
    --p: 16px;
    --h1: 40px;
    --h2: 24px;

    color-scheme: light dark;
    --color: light-dark(var(--gray, #3A3F45), var(--white, #F0F0F0));
    --background: light-dark(var(--white, #F0F0F0), var(--gray, #3A3F45));
  }

  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
  }


  a {
    text-decoration: none;
    color: var(--color);
  }




}

@layer layout {
  .body {
    color: var(--color);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .main {
    flex-grow: 1;
  }

  #form {
    scroll-margin-top: 170px;
  }

  .text--h1 {
    font-size: var(--h1);
  }

  .text--h2 {
    font-size: var(--h2);
  }

  .text--p {
    font-size: var(--p);
    font-family: Roboto, sans-serif;
  }
  .text--p, .text--h2, .text--h1{
    font-weight: normal;
  }

  .text--bold {
    font-weight: bold;
  }

  .text--center {
    text-align: center;
  }

  .image--responsive {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }

  .image {
    border-radius: 1rem;
  }

  .btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: var(--blue, #21449B);
    color: var(--white, #F0F0F0);
    display: inline-block;

    font-size: var(--p);
    font-family: Roboto, sans-serif;
  }

  .btn:hover {
    background-color: var(--white, #F0F0F0);
    color: var(--gray, #3A3F45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);

    transition: all 0.3s ease-in-out;
  }

  /* header */
  .header__row {
    padding: .5em 1em;
    background-color: var(--gray, #3A3F45);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /*hero*/
  .hero {
    background-image: url(/img/places/karluvmost2.webp);
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  .hero__title {
    padding: 2rem;
  }

  .hero__text {
    background-color: var(--gray, #3A3F45);
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    margin: 1.25rem auto;
    color: var(--white, #F0F0F0);
    width: 350px;
  }

  .hero__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 1176px) {
    .hero__title {
      color: var(--white, #F0F0F0);
    }
  }

  /* places */
  .places {
    padding: 1em 1.25em;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .places .btn {
    align-self: center;
  }

  .places__card {
    padding: 1em;
  }

  @media screen and (min-width: 1240px) {
    .places__card:nth-child(1):hover {
      transform: rotate(-3deg) scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    .places__card:nth-child(2):hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    .places__card:nth-child(3):hover {
      transform: rotate(3deg) scale(1.05);
      transition: all 0.3s ease-in-out;
    }
  }

  .places__container:has(.places__card:hover) .places__card:not(:hover) .card__image {
    filter: blur(3px);
    transition: filter 0.3s ease;
  }

  .places__container:has(.places__card:hover) .places__card:not(:hover) {
    filter: blur(3px);
    transition: filter 0.3s ease 1s;
  }

  .places__card:hover {
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .places__card-title {
    margin-bottom: 1rem;
  }

  .places__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
  }

  /*info */
  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2.5em 0;
  }

  .info .btn {
    align-self: center;
  }

  /* footsteps */
  .footsteps-container {
    margin: 2.5em 0;
  }

  /* form*/
  .form {
    padding: 20px 40px;
    max-width: 808px;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  .form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
  }

  .form__container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    height: 39px;
    border-radius: 10px;
    border: 1px solid var(--gray);
    margin-bottom: .5rem;
    box-sizing: border-box;
    padding: 10px .5rem;
    width: 100%;
  }

  .form__input::placeholder {
    color: var(--color);
    opacity: 0.3;
    font-family: Roboto, sans-serif;
    font-size: var(--p);
  }
  .form__button {
    border: none;
  }

  @media screen and (min-width: 840px) {
    .form__container--form {
      flex-direction: row;
      gap: 1em;
    }

    .form__input {
      margin-bottom: 0px;
    }
  }

  /*social*/
  .social {
    background-color: var(--gray, #3A3F45);
    padding: 2em;
    color: var(--white);
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    /*dark mode jen*/
   }

  .icon {
    font-size: 3.125rem;
    color: var(--white, #F0F0F0);
  }

  .icon:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #6084e0;
    transition: all 0.3s ease-in-out;
  }

  .social-icons {
    display: flex;
    gap: .5em;
    justify-content: center;
    margin-top: .5rem;
  }

  /*gallery*/
  .gallery {
    padding: 2em 2.5em;
    border-radius: 1rem;
  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 360px));
    justify-content: center;
    gap: .5em;
  }

  .gallery__title {
    margin-bottom: .5rem;
  }

  .gallery__item:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  /* footer */
  .footer {
    background-color: var(--gray, #3A3F45);
    color: var(--white, #F0F0F0);
    border-top: 1px solid var(--white, #F0F0F0);
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1.5em;
    margin: 0 auto;
    max-width: 1240px;
  }

  .footer__logo {
    width: 80px;
    height: auto;
    margin-bottom: 32px;
  }

  .footer__social-title {
    margin-bottom: 0.5em;
  }

  .footer__social-icons .icon {
    font-size: 2em;
    margin-right: 0.5rem;
  }

  .footer__social-link:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: aquamarine;
  }

  .footer__nav-link {
    padding: 1.25em 1em;
    display: inline-block;
    border-radius: 1em;
    color: var(--white, #F0F0F0);
  }

  .footer__nav-link:hover {
    background-color: var(--white, #F0F0F0);
    color: var(--gray, #3A3F45);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: all 0.3s ease-in-out;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
  }

  .footer__article--newsletter {
    margin: 2em 0;
  }

  .footer__newsletter-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .footer__newsletter-text {
    width: 290px;
  }

  .footer__newsletter-title {
    margin-bottom: 1em;
  }

  .footer__article--info {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .footer__copyright,
  .footer__credits {
    opacity: 0.8;
    font-style: normal;
  }

  .footer__newsletter-button {
    align-self: flex-start;
  }

  @media screen and (min-width: 808px) {
    .footer__nav {
      flex-direction: row;
    }

    .footer__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .footer__newsletter-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .footer__nav-link {
      padding: 1.25em 2em;
    }

    .footer__article--info {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  /*topmista*/
  .main__hero,
  .traps {
    margin: 1.25rem;
    text-align: center;
  }

  .traps {
    margin: 2.5rem auto;
    padding: 2rem 2.5rem;
  }

  .hero__article,
  .traps__article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
    gap: 1.5em;
    max-width: 1248px;
    margin: 0 auto;
    text-align: left;
  }

  .main__hero .hero__card,
  .traps .traps__card {
    padding: 1em;
  }

  .hero__card,
  .traps__card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .hero__card:hover,
  .traps__card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  /* tips */

  .tips {
    margin: 2rem auto;
    padding: 0 2.5rem;
    max-width: 1320px;
  }

  .tips__article {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin: 2rem auto;
    max-width: 1215px;
  }

  .tips__card {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    align-self: flex-start;
    max-width: 400px;
    margin: 0 auto;
  }

  .tips__card:hover {
    transform: translateY(-1em);
  }

  .tips__text {
    padding: 2rem;
    background-color: var(--background);
    color: var(--color);
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .tips__img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 400px;
    display: block;
    border-radius: 0 0 1em 1em;
  }

  /*eateries*/
  .eateries {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 1.25em;
  }

  .eateries__img {
    max-width: 1000px;
  }

  .eateries__map-link {
    align-self: center;
  }

  .eateries__info {
    display: grid;
    gap: 2.5em;
    margin: 1em 1.25em;
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 840px) {
    .eateries__info {
      grid-template-columns: 1fr 1fr;
    }

    .eateries__heading,
    .eateries__reviews-container {
      grid-column: span 2;
    }

    .eateries__contact {
      grid-row: span 2;
    }
  }

  .eateries__card {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .eateries__map {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border-radius: .5rem;
  }

  .eateries__opening-item,
  .eateries__contact-item {
    margin-bottom: 0.5em;
  }

  .eateries__review-name {
    display: flex;
    gap: 0.5em;
  }

  .eateries__review {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 248px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    padding: 1em;
    border-radius: 1em;
    align-self: flex-start;
  }

  .eateries__icon {
    font-size: 30px;
    margin-right: 0.25em;
    color: var(--color);
  }

  .eateries__icon--blank {
    opacity: 0.5;
  }

  .eateries .eateries__image {
    max-width: 650px;
    margin: 0 auto;
  }

  .eateries__review:hover {
    transform: translateY(-1em);
  }

  #eateries__review-footsteps {
    font-size: 30px;
    margin-right: 0.5em;
    display: inline-block;
  }
  .eateries__reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
  }
}