@layer reset, layout, animation;

@layer reset {
  :root {
    --gray: #3A3F45;
    --white: #F0F0F0;
    --blue: #21449B;
    --p: 16px;
    --h1: 40px;
    --h2: 24px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: var(--gray);
    font-family: "Poppins", sans-serif;
  }

  a {
    text-decoration: none;
    color: var(--gray);
  }
}

@layer layout {


  .text--h1 {
    font-size: var(--h1);
    font-weight: normal;

  }

  .text--h2 {
    font-size: var(--h2);
    font-weight: normal;
  }

  .text--p {
    font-size: var(--p);
    font-family: Roboto, sans-serif;
    font-weight: normal;
  }

  .text--bold {
    font-weight: bold;
  }

  .text--center {
    text-align: center;
  }

  .image--responsive {
    width: 100%;
    height: auto;

  }

  .image {
    border-radius: 1rem;

  }

  .btn {
    border-radius: 10px;
    padding: 0.5rem 1rem;
    background-color: var(--blue, #21449B);
    color: var(--white, #F0F0F0);
    display: inline-block;

    font-size: var(--p);
    font-family: Roboto, sans-serif;
  }

  .btn:hover {
    background-color: var(--white, #F0F0F0);
    color: var(--gray, #3A3F45);
    transition: all 0.3s ease-in-out;
  }

  /* header */
  .header__row {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray, #3A3F45);
  }




  /*hero*/
  .hero {
    background-image: url(/img/places/karluvmost2.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
  }


  .hero__title {
    padding: 2rem;
  }

  .hero__text {
    background-color: var(--gray, #3A3F45);
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    margin: 1.25rem auto;
    color: var(--white, #F0F0F0);
    width: 350px;

  }

  .hero__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


  }

  @media screen and (min-width: 1176px) {
    .hero__title {
      color: var(--white, #F0F0F0);
    }

  }

  /* places */
  .places {
    padding: 1em 1.25em;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .places .btn {
    align-self: center;
  }

  .places__card {
    padding: 1em;
  }

  .places__card-title {
    margin-bottom: 1rem;
  }

  .places__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    justify-content: center;
  }

  /*info */


  .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2.5em 0;
  }

  .info .btn {
    align-self: center;
  }

  /* footsteps */
  .footsteps-container {
    margin: 2.5em 0;
  }

  /* form*/
  .form {
    padding: 20px 40px;
    max-width: 1160px;
    margin: 2.5rem auto;
    display: flex;
    flex-direction: column;
    gap: .5em;

  }

  .form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .form__container--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .form__input {
    height: 39px;
    width: 100%;
    padding: 10px .5rem;
    border-radius: 10px;
    border: 1px solid var(--gray);
    margin-bottom: .5rem;
  }


  .form__input::placeholder {
    color: #3A3F45;
    opacity: 0.3;
    font-family: Roboto, sans-serif;
    font-size: var(--p);
  }

  @media screen and (min-width: 840px) {
    .form__container--form {
      flex-direction: row;
      gap: 20px;

    }

    .form__input {

      margin-bottom: 0px;
    }
  }

  /*social*/
  .social {
    background-color: var(--gray, #3A3F45);
    padding: 2em;
    color: var(--white);

  }

  .icon {
    font-size: 3.125rem;
    color: var(--white, #F0F0F0);
  }

  .social-icons {
    display: flex;
    gap: .5em;
    justify-content: center;
    margin-top: .5rem;
  }





  /*gallery*/
  .gallery {
    padding: 2.5em;
    border-radius: 1rem;

  }

  .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 360px));
    justify-content: center;
    gap: .5em;
  }

  .gallery__title {
    margin-bottom: .5rem;
  }








  /* footer */
  .footer {
    background-color: var(--gray, #3A3F45);
    color: var(--white, #F0F0F0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__text {
    font-size: var(--p);
    font-family: Roboto, sans-serif;
    margin: 0;
    text-align: end;
  }
}

/*topmista*/
.main__hero {
  margin: 1.25rem;
}

.hero__article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  justify-content: center;
  gap: 1.5em;
  max-width: 1248px;
  margin: 0 auto;
}

.main__hero .hero__card {
  padding: 1em;
}

.main__title {
  margin-bottom: 1.5rem;
}


@layer animation {
  .hero__animation {
    position: relative;
    width: 316px;
    height: 251px;
    background-image: url('/img/blob.svg');
    background-size: cover;
    background-position: center;
    margin: 1.25rem auto;
    overflow: hidden;
  }

  .hero__sun-container,
  .hero__moon-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hero__sun-container {
    animation: rotateSun 10s linear infinite;
    transform-origin: center;
  }

  .hero__sun {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 32px;
    height: 32px;
    animation: sunColorFade 10s linear infinite;
  }

  .hero__moon {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 28px;
    height: 28px;
    opacity: 0;
    animation: moonFade 10s linear infinite;
  }

  .hero__icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 8px;
    z-index: 2;
  }

  .hero__icon {
    width: 60px;
    animation: buildingColorFade 10s linear infinite;
    align-self: flex-end;
  }

  .hero__radar-dot {
    position: absolute;
    top: 0;
    left: 52%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    animation: radarBlink 10s linear infinite;
    z-index: 30;
  }

  @keyframes rotateSun {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes sunColorFade {

    0%,
    100% {
      filter: none;
      opacity: 1;
    }

    20%,
    80% {
      filter: brightness(2) sepia(1) saturate(20000%) hue-rotate(-30deg);
      opacity: 1;
    }

    40%,
    70% {
      opacity: 0;
    }
  }

  @keyframes moonFade {

    0%,
    35%,
    85%,
    100% {
      opacity: 0;
    }

    45%,
    75% {
      opacity: 1;
    }
  }

  @keyframes buildingColorFade {

    0%,
    100% {
      filter: none;
    }

    20%,
    80% {
      filter: brightness(1.2) sepia(1) saturate(500%) hue-rotate(-30deg);
    }

    40%,
    70% {
      filter: brightness(0.8);
    }
  }

  @keyframes radarBlink {

    0%,
    40%,
    71%,
    100% {
      opacity: 0;
    }

    41%,
    70% {
      opacity: 1;
    }
  }

  .footsteps-container {
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
  }

  .footstep {
    width: 40px;
    height: auto;
    opacity: 0;
    animation: appear 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.5s);
  }

  @keyframes appear {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }

    30% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(20px);
      opacity: 0;
    }
  }

  @media (max-width: 600px) {
    .footstep:nth-child(n+10) {
      display: none;
    }
  }

}